html {
  margin: 0;
}

body {
@font-face {
  font-family: 'Avenir';
  src: url('#{$avenir-path}AvenirLTStd-Light.eot'); /* IE9 Compat Modes */
  src: url('#{$avenir-path}AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$avenir-path}AvenirLTStd-Light.woff') format('woff'), /* Modern Browsers */
       url('#{$avenir-path}AvenirLTStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$avenir-path}AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
